<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" required ngModel name="title" #title="ngModel" />
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" required ngModel name="content" #conten="ngModel"></textarea>
      <mat-error *ngIf="conten.invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
